header h1{
text-align: center;
font-family:Verdana, sans-serif;

}
 
 header h2{
text-align: center;
font-family:Verdana, sans-serif;

    
}
main img{


    
}

main p{

    font-family: fantasy;
text-align: center;


}
header p{
text-align: center;



}
.s1990{

height:500px;
width:900px;
 

}

.subaru{

height:500px;
width:900px;
 

}
.s2007{

height:500px;
width:900px;
 

}

.s2010{

height:500px;
width:900px;
 

}
.s2011{

height:500px;
width:900px;
 

}

.s2012{

height:500px;
width:900px;
 

}
body{



    
}
nav a {
    color:white;
    background-color:black;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    margin: 2px;
}
 


 }



.s1990{

text-align:center;    
border: 1px solid black;


}
.s2007{
    
text-align:center;    
border: 1px solid black;


}
.s2010{
    
text-align:center;    
border: 1px solid black;


}
.s2011{
    
text-align:center;    
border: 1px solid black;


}

.s2012{
    
text-align:center;    
border: 1px solid black;


}
 .subaru{
    
text-align:center;    
border: 1px solid black;


}
